* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppinsb';
    src: url('fonts/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Poppinsi';
    src: url('fonts/Poppins-Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #bcbdb7;
    color: #333;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: #1b1c21;
    margin-bottom: 10px;
}

header {
    background-color: #1b1c21;
    color: #fff;
    padding: 5px 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: -40px;
    margin-top: 5px;
}

.logo img {
    height: 50px;
}

nav {
    position: relative;
}

.nav-list {
    list-style-type: none;
    display: flex;
}

.nav-list li {
    margin-left: 20px;
}

.nav-list li a {
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #1b1c21;
}

.nav-list li a:hover {
    background-color: #1b1c21;
}

.nav-toggle {
    display: none;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
}

.quemsomos{

    color: #ffffff;
    font-family: 'Poppins';
    position: relative;
}

.quemsomos:hover::after {
    content: ''; /* Cria um pseudo-elemento */
    position: absolute; /* Posiciona o underline em relação ao texto */
    left: 0;
    bottom: -2px; /* Ajuste a posição do underline */
    width: 100%; /* Faz o underline ocupar toda a largura do texto */
    height: 2px; /* Espessura do underline */
    background-color: #bcbdb7; /* Cor do underline */
    margin: 0 2px; /* Adiciona espaço ao redor do underline */
}
.inicio{

    color: #ffffff;
    font-family: 'Poppins';
    position: relative;
}

.inicio:hover::after {
    content: ''; /* Cria um pseudo-elemento */
    position: absolute; /* Posiciona o underline em relação ao texto */
    left: 0;
    bottom: -2px; /* Ajuste a posição do underline */
    width: 100%; /* Faz o underline ocupar toda a largura do texto */
    height: 2px; /* Espessura do underline */
    background-color: #bcbdb7; /* Cor do underline */
    margin: 0 2px; /* Adiciona espaço ao redor do underline */
}
.portfolio{

    color: #ffffff;
    font-family: 'Poppins';
    position: relative;
}

.portfolio:hover::after {
    content: ''; /* Cria um pseudo-elemento */
    position: absolute; /* Posiciona o underline em relação ao texto */
    left: 0;
    bottom: -2px; /* Ajuste a posição do underline */
    width: 100%; /* Faz o underline ocupar toda a largura do texto */
    height: 2px; /* Espessura do underline */
    background-color: #bcbdb7; /* Cor do underline */
    margin: 0 2px; /* Adiciona espaço ao redor do underline */
}
.orcamento{

    color: #ffffff;
    font-family: 'Poppins';
    position: relative;
}

.orcamento:hover::after {
    content: ''; /* Cria um pseudo-elemento */
    position: absolute; /* Posiciona o underline em relação ao texto */
    left: 0;
    bottom: -2px; /* Ajuste a posição do underline */
    width: 100%; /* Faz o underline ocupar toda a largura do texto */
    height: 2px; /* Espessura do underline */
    background-color: #bcbdb7; /* Cor do underline */
    margin: 0 2px; /* Adiciona espaço ao redor do underline */
}

@media (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 100%;
        right: 0;
        width: 200px;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-list li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .nav-toggle {
        display: block;
    }
}

main {
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
    color: #000000;
    font-family: 'Poppinsb', sans-serif;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

video {
    max-width: 100%;
    border: 2px solid #d9d9d9;
    border-radius: 8px;
}

.quote-icon {
    margin: 0 10px 10px 0;
    width: 50px;
    vertical-align: top;
}

.testimonials {
    background-color: #bcbdb7;
    padding: 20px 0;
    text-align: center;
}

.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

.testimonial-card {
    background-color: #d9d9d9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    width: 90%;
}

.testimonials h1 {
    margin-bottom: 30px;
    font-size: 24px;
    font-family: 'Poppinsb', sans-serif;
    color: #333;
}

.testimonials h2 {
    margin-bottom: 30px;
    font-size: 24px;
    color: #333;
}

.testimonial-card p {
    font-family: 'Poppins';
    margin-bottom: 15px;
    color: #555;
}

.testimonial-card h3 {
    font-size: medium;
    font-weight: bold;
    color: #616161;
    text-align: right;
}

@media (max-width: 992px) {
    .testimonials-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .testimonials-grid {
        grid-template-columns: 1fr;
    }
}

footer {
    background-color: #1b1c21;
    color: white;
    padding: 0;
    text-align: center;
}

footer p {
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.quote-section {
    background-color: #1b1c21;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.quote-section h2 {
    margin: 0;
    font-size: 24px;
    color: #fff;
    font-family: 'Poppinsb', sans-serif;
    margin-top: 5px;
}

.quote-section .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d9d9d9;
    color: #000000;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Poppinsb';
    margin-top: 15px;
}

.quote-section .btn:hover {
    background-color: #c7c7c7;
}

.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background-color: #d9d9d9;
    width: 100%;
    height: 290px;
}

.contact-images.left-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-images img.left-image {
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 300px;
    border-radius: 0px;
}

.contact-images.right-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact-images img.right-image {
    margin-top: 7px;
    border-radius: 0;
    width: 400px;
    max-width: none;
    height: 290px;
    max-height: none;
}

.contact-info {
    flex: 1;
    text-align: center;
    padding: 0px;
}

.contact-info h2 {
    font-size: 30px;
    color: #1b1c21;
    margin-bottom: 10px;
    font-family: 'Poppinsb';
}

.contact-info p {
    font-size: 20px;
    color: #1b1c21;
    margin-bottom: 0px;
    font-family: 'Poppins';
}

.underline {
    text-decoration: underline;
    font-size: 20px;
    color: #000000;
    margin-bottom: 0px;
    font-family: 'Poppins';
}

@media (max-width: 768px) {
    .contact-section {
        flex-direction: column;
        text-align: center;
    }

    .contact-images {
        margin-bottom: 20px;
    }

    .contact-info {
        padding: 0;
    }
}
